.hideLeftMenu .container {
  margin-left:0px;
}

.hideLeftMenu .container-header {
  transform: none;
  width: 100%;
}

.hideGnb .container {
  margin-left:0px;
  height: calc(100vh - 70px - 36px);
  margin-top: 70px;
}

.hideGnb .container-header {
  transform: (0px);
  width: 100%;
  top: 0px;
}

/* gnb dropdown animation  */

.bp-gnb .-g-fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.bp-gnb .-g-fade-enter, .fade-leave-to {
  opacity: 0;
}


/* gnb dropdown */
.bp-gnb .dropDown-wrap > .-btn {justify-content: flex-start;text-align: left;}

.bp-gnb .dropDown-wrap .dropDown-list {display:none; position:absolute; left:0; top:110%;}
.bp-gnb .dropDown-wrap .dropDown-list.up {top:-130px;}

.bp-gnb .dropDown-wrap > .-btn {height:24px;}

.bp-gnb .dropDown-list {border-radius:4px !important; overflow:hidden;}
.bp-gnb .dropDown-list .-btn {height:40px !important; border-radius:0 !important; justify-content:start;}

.bp-gnb .dropDown-wrap .dropDown-list.down- {top:100%; bottom: auto; left: 0; right: auto;}
.bp-gnb .dropDown-wrap .dropDown-list.down-left- {top:100%; bottom: auto; left: 0; right: auto;}
.bp-gnb .dropDown-wrap .dropDown-list.down-right- {top:100%; bottom: auto; left: auto; right: 0px; }

.bp-gnb .dropDown-wrap .dropDown-list.up- {bottom: 100%; top: auto; left: 0px; right: auto;}
.bp-gnb .dropDown-wrap .dropDown-list.up-left- {bottom: 100%; top: auto; left: 0px; right: auto;}
.bp-gnb .dropDown-wrap .dropDown-list.up-right- {bottom: 100%; top: auto; left: auto; right: 0px;}

.bp-gnb .dropDown-wrap .dropDown-list.right- {top: 0; bottom: auto; left: calc(100% - 8px); right: auto;}
.bp-gnb .dropDown-wrap .dropDown-list.right-down- {top: 0; bottom: auto; left: calc(100% - 8px); right: auto;}
.bp-gnb .dropDown-wrap .dropDown-list.right-up- {top: auto; bottom: 0; left: calc(100% - 8px); right: auto;}

.bp-gnb .dropDown-wrap .dropDown-list.left- {top: 0; bottom: auto; left: auto; right: 100%;}
.bp-gnb .dropDown-wrap .dropDown-list.left-down- {top: 0; bottom: auto; left: auto; right: 100%;}
.bp-gnb .dropDown-wrap .dropDown-list.left-up- {top: auto; bottom: 0; left: auto; right: 100%;}

.bp-gnb .dropDown-wrap .dropDown-list .-dropdown-text {justify-content: flex-start; text-align: left;}
.bp-gnb .dropDown-wrap .dropDown-list button {white-space:nowrap;}
.bp-gnb .dropDown-wrap .dropDown-list button.selected- {background-color: #e0e0e0 !important;}


